
#partners .partners-list {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
}

#partners .partner-link {
	margin: 20px;
}

#partners .partner {
	position: relative;
	width: 290px;
	height: 290px;
	overflow: hidden;
	background: #fff;
}

#partners .partner[data-name]::after {
	content: attr(data-name);
	position: absolute;
	text-align: center;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, 100%);
	color: #fff;
	opacity: 0;
	background: #272727e6;
	font-size: 24px;
	padding: 10px 15px;
	transition: all .3s;
}

#partners .partner[data-name]:hover::after {
	transform: translate(-50%, 50%);
	bottom: 50%;
	opacity: 1;
}

#partners .partner .partner-image {
	width: 100%;
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	transition: all .3s;
}

#partners .partner:hover .partner-image {
	transform: scale(1.05);
	filter: blur(3px) brightness(0.7);
}