.lazyloadimage {
  position: relative;

  .lazyloadimage-placeholder {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.2);
    transition: all 0.3s;
    // for compatibility
    -webkit-transition: all 0.3s;

    &.disabled {
      opacity: 0;
    }
  }
}
