#artists .artists-container {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
}

#artists .artists-loader {
	font-size: 30px;
	text-align: center;
	margin-top: 30px;
}

#artists .no-artists {
	color: rgba(255, 255, 255, 0.7);
	text-align: center;
}

.program-bar {
	text-align: center;
}
ul {
	display: inline-block;
	width: fit-content;
	list-style-type: none;
	float: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
  }
  
  li {
	float: left;
  }
  
  li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
  }
  
  li a:hover {
	background-color: #111;
  }
  