#artists .artists-container {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
}

#artists .artists-loader {
	font-size: 30px;
	text-align: center;
	margin-top: 30px;
}

#artists .no-artists {
	color: rgba(255, 255, 255, 0.7);
	text-align: center;
}

.sidenav {
	width: auto;
	position: fixed;
	z-index: 1;
	top: 40%;
	left: 5%;
	background: rgba(33, 32, 56, 0.7);
	overflow-x: hidden;
	padding: 8px 0;
}

.sidenav a {
	padding: 16px 16px 16px 16px;
	text-decoration: none;
	font-size: 25px;
	font-family: 'LemonMilk', arial, sans-serif;
	text-transform: uppercase;
	text-align: center;
	color: white;
	display: block;
}

.sidenav a:hover {
	background-color: #111;
}

.sidenav .vertical-line {
	text-align: center;
	display: block;
	border-right: 6px solid var(--secondary-color);
	width: 50%;
	height: 50px;
	position: flex;
	left: 50%;
	margin-left: -3px;
	top: 0;
}

.main {
	margin-left: 140px; /* Same width as the sidebar + left position in px */
	font-size: 28px; /* Increased text to enable scrolling */
	padding: 0px 10px;
}

@media screen and (max-width: 450px) {
	.sidenav {display: none;}
}