.textarea {
	position: relative;
	display: inline-block;
	margin-top: 30px;
	width: 100%;
}

.textarea-placeholder {
	position: absolute;
	top: 9px;
	left: 0;
	color: #cecece;
	padding: 0 8px;
	user-select: none;
	cursor: text;
	transition: all .3s;
}

.textarea-placeholder.active {
	top: -18px;
	font-size: 13px;
	left: -8px;
	cursor: default;
}

.textarea textarea {
	resize: vertical;
	min-height: 70px;
	border: none;
	padding: 8px;
	color: #fff;
	background: #ffffff1c;
	font-size: 16px;
	font-family: 'Roboto', arial, sans-serif;
	box-shadow: 0 1px 0 0 #707070;
	width: calc(100% - 16px);
	transition: all .3s;
}

.textarea textarea:focus {
	box-shadow: 0 3px 0 0 var(--primary-color);
}