.artist {
	display: flex;
	flex-flow: row wrap;
	margin-top: 40px;
}

.artist .artist-container {
	margin: auto;
	display: flex;
	flex-flow: row wrap;
	max-width: 100%;
}

.artist .artist-container > * {
	margin: 0 auto;
}

.artist .artist-image {
	display: flex;
	width: 300px;
	max-width: 300px;
	max-height: 300px;
	background: rgba(255, 255, 255, 0.2);
}

.artist .artist-infos {
	width: 260px;
	height: calc(300px - 20px);
	padding: 10px 20px;
	background: rgba(255, 255, 255, 0.07);
	overflow-x: hidden;
	overflow-y: auto;
}

.artist .artist-infos > :last-child {
	margin-bottom: 10px;
}

.artist .artist-name {
	font-size: 24px;
	font-family: 'LemonMilk', arial, sans-serif;
}

.artist .artist-description {
	word-wrap: break-word;
	margin: 10px 0;
}

.artist .artist-divider {
	height: 1px;
	width: 100%;
	background: #fff;
	margin: 8px 0 14px 0;
}

.artist .artist-hour,
.artist .artist-place {
	width: 100%;
	margin-bottom: 10px;
}

.artist .artist-hour .icon,
.artist .artist-place .icon {
	color: var(--secondary-color);
	margin-right: 10px;
	font-size: 20px;
}

.artist .artist-no-informations {
	color: rgba(255, 255, 255, 0.7);
	font-size: 14px;
}

.artist .artist-link {
	display: inline-block;
	font-size: 0.9em;
	margin-top: 10px;
	padding: 6px 10px;
	color: #fff;
	background: var(--secondary-color);
	border-radius: 3px;
	text-decoration: none;
	transition: all .3s;
}

.artist .artist-link:hover,
.artist .artist-link:focus {
	filter: brightness(85%);
}

.artist .artist-link .icon {
	position: relative;
	top: -1px;
	font-size: 10px;
	margin-left: 2px;
}

@media screen and (max-width: 705px) {
	.artist .artist-infos {
		height: auto;
	}

	.artist .artist-image {
		width: auto;
	}
}