#covid-19 .billetterie_container {
  background-color: rgba(198, 233, 250, 0.6);
  margin: auto;
  max-width: 1220px;
  padding: 15px 30px 15px 30px;
}

#covid-19 .billetterie_container ul li {
  font-family: 'Fundamental', arial, sans-serif;
	color: #0A3D60;
	text-align: justify;
}