.submit-button {
  position: relative;
  background: var(--secondary-color);
  color: #fff;
  cursor: pointer;
  padding: 14px 20px 14px 44px;
  outline: none;
  font-size: inherit;
  font-family: 'Roboto', arial, sans-serif;
  border: none;
  border-radius: 0;
  overflow: hidden;
  transition: all 0.3s;
  width: 100%;

  &:hover,
  &:focus {
    filter: brightness(0.85);
  }

  .submit-button-icon,
  .submit-button-loading,
  .submit-button-success {
    position: absolute;
    top: 16px;
    left: -16px;
    opacity: 0;
    transition: all 0.3s;
  }

  &.icon .submit-button-icon,
  &.loading .submit-button-loading,
  &.success .submit-button-success {
    opacity: 1;
    left: 16px;
  }
}
