#access .plan-container {
	width: 100%;
	position: relative;
	padding-top: 50%;
	min-height: 350px;
	box-sizing: border-box;
	background: rgba(255, 255, 255, 0.2);
}

#access .plan-container iframe {
	position: absolute;
	top: 0;
	left: 0;
	border: 0;
	width: 100%;
	height: 100%;
}

#access p {
	text-align: justify;
}

#access .access-list {
	padding-left: 20px;
	list-style: none;
}

#access .access-list > li > i {
	margin-right: 10px;
}
