#home {
  .poster-container {
    position: relative;
    display: flex;
    height: calc(100vh - 90px);
    width: 100vw;
    margin-top: -10px;
    background: url('/splash.jpg') center/cover var(--secondary-color);

    &::before {
      content: '';
      position: absolute;
      bottom: -50px; // position of the ribbon
      left: 0;
      width: 100%;
      height: 100px;
      background-size: 30%;
      background-image: url("../../assets/banderole.png");
      background-position: center;
      background-repeat: repeat-x;
    }

    .poster {
      position: relative;
      top: -30px;
      margin: auto;
      max-width: 100%;
      max-height: 100%;
      user-select: none;
    }
  }

  .countdown {
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
    font-size: 4em;
    color: var(--accent-color);
    font-family: var(--text-font);
    position: relative;
    margin: auto;
    gap: 10px;
    z-index: 0; /* Create stack context */

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      border-radius: 10px;
      opacity: 0.67;
      background-color: var(--primary-color);
      padding: 20px 35px;
      margin-left: -35px;
      margin-top: -20px;
    }

    .countdown-item {
      font-weight: bold;

      & > div {
        display: block;
        text-align: center;

        &:nth-child(1),
        &:nth-child(2) {
          background-color: #4f4f4f;
          padding: 4px 8px;
          border-radius: 5px;
          margin: 2px;
          width: 1ch;
          display: inline-block;
          position: relative;
          box-shadow: 0 2px 5px #4448;

          &::after {
            content: '';
            background-color: var(--text-color);
            height: 1px;
            width: 100%;
            top: 50%;
            left: 0;
            position: absolute;
          }
        }

        &:nth-child(3) {
          margin-top: 10px;
          color: var(--secondary-color);
          font-size: 1rem;
          font-family: var(--text-font);
        }
      }
    }
  }

  .page-container {
    padding: 20px;
  }

  .partners-carousel-container {
    position: relative;
    max-width: 1036px;
    left: 50%;
    transform: translate(-50%, 0);
    // for compatibility
    -webkit-transform: translate(-50%, 0);
  }

  .partners-carousel-arrow-left,
  .partners-carousel-arrow-right {
    position: absolute;
    top: 50%;
    color: var(--text-color);
    font-size: 50px;
    padding: 20px;
    cursor: pointer;
  }

  .partners-carousel-arrow-left {
    left: 0;
    transform: translate(-100%, -50%);
    // for compatibility
    -webkit-transform: translate(-100%, -50%);
  }

  .partners-carousel-arrow-right {
    right: 0;
    transform: translate(100%, -50%);
    // for compatibility
    -webkit-transform: translate(100%, -50%);
  }

  .partners-carousel {
    margin: 60px 0 20px 0;
    touch-action: manipulation;
  }

  .swiper {
    a {
      background-color: var(--accent-color);
      display: block;
      border: 6px solid var(--text-color);
      border-radius: 50%;
      height: 100%;
      aspect-ratio: 1;
      max-height: 150px;
      overflow: hidden;
      box-sizing: border-box;
      position: relative;
    }
    img {
      display: block;
      margin: auto;
      max-height: 100%;
      top: 50%;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      position: absolute;
      user-select: none;
    }
  }

  .partners-loader,
  .no-partners {
    position: relative;
    color: #fff;
    text-align: center;
    margin: 20px 0;
  }

  .no-partners {
    opacity: 0.9;
    font-style: italic;
  }

  .partners-loader {
    font-size: 24px;
    color: var(--primary-color);
  }
}

@media screen and (max-width: 1160px) {
  #home {
    .partners-carousel-arrow-left,
    .partners-carousel-arrow-right {
      display: none;
    }
  }
}

@media screen and (max-width: 768px) {
  #home .countdown {
    font-size: 3em;
  }
}

@media screen and (max-width: 600px) {
  #home .countdown {
    font-size: 2em;

    &::after {
      margin-left: -15px;
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  .countdown-item > div:nth-child(3) {
    margin-top: 5px !important;
  }
}

@media screen and (max-width: 450px) {
  #home .countdown {
    font-size: 2em;
    flex-flow: column wrap;
    gap: 6px;

    span {
      display: none;
    }

    .countdown-item > div:nth-child(3) {
      margin-top: 2px !important;
    }
  }
}
