#home h1,
#home h2 {
	text-align: center;
}

#home .video-container {
	position: relative;
	width: 100%;
	padding-bottom: 56.25%;
	background: #ffffff33;
}

#home .video-container > div {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

#home .video-container iframe {
	width: 100%;
	height: 100%;
}

#home .image-container {
	width : 100%;
	min-height : 50vh;
	position : relative;
	top : 0;
	right: 0;
	margin-bottom : 30px;
	background-image : url('../../assets/panneau_1.png');
	background-repeat : no-repeat;
	background-size : 100% 100%;
	animation: panneauanim 4s steps(4) infinite;
}

@keyframes panneauanim {
	0%, 100% {
	background-image : url('../../assets/panneau_1.png');
	}
	
	8% {
	background-image : url('../../assets/panneau_2.png');	
	}
	
	16% {
	background-image : url('../../assets/panneau_3.png');
	}
	
	24% {
	background-image : url('../../assets/panneau_4.png');
	}

	32% {
	background-image : url('../../assets/panneau_5.png');
	}
	
	40% {
	background-image : url('../../assets/panneau_6.png');
	}

	48% {
	background-image : url('../../assets/panneau_7.png');
	}

	58% {
	background-image : url('../../assets/panneau_1.png');
	}

	68% {
	background-image : url('../../assets/panneau_7.png');
	}

	78% {
	background-image : url('../../assets/panneau_1.png');
	}

	90% {
	background-image : url('../../assets/panneau_7.png');
	}
}

#home img {
	width : 100%;
	visibility : hidden;
}

#home .partners {
	position: relative;
	top: 54px;
	background: #fff;
	padding: 20px 0;
	margin-top: -14px;
}

#home .partners-background {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%);
	width: 100vw;
	height: 100%;
	background: #fff;
}

#home .partners h2 {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%);
	color: #272727;
}

#home .partners-carousel-container {
	position: relative;
}

#home .partners-carousel-arrow-left,
#home .partners-carousel-arrow-right {
	position: absolute;
	top: 50%;
	color: #444;
	font-size: 50px;
	padding: 20px;
	cursor: pointer;
}

#home .partners-carousel-arrow-left {
	left: 0;
	transform: translate(-100%, -50%);
}

#home .partners-carousel-arrow-right {
	right: 0;
	transform: translate(100%, -50%);
}

#home .partners-carousel {
	margin: 60px 0 20px 0;
}
