#contact {
	max-width: 1220px;
	height: 100%;
	margin: auto;
	margin-bottom: 30px;
	padding: 30px 15px 15px 30px;
	line-height: 1.6em;
	color: #fff;
	background-color: rgba(198,233,250,0.6);
	text-align: left;
}

#contact .content {
	max-width: 500px;
	margin: auto;
	display: flex;
	flex-direction: column;
}

#contact .content #input_fields {
	display: flex;
	justify-content: space-between;
}

#contact .content #input_fields #input-field-2 {
	width: 100%;
}

#contact .content .contact-textarea {
	width: 100%;
}

#contact .content .contact-submit-button {
	margin-top: 30px;
	text-align: right;
}