#contact {
	max-width: 500px;
	margin: auto;
}

#contact .contact-name-field {
	margin-right: 20px;
}

#contact .contact-textarea {
	width: 100%;
}

#contact .contact-submit-button {
	margin-top: 30px;
	text-align: right;
}