header {
  margin-top: 61px;
  width: 100%;

  .header-content {
    position: fixed;
    top: 0;
    text-align: center;
    width: 100%;
    height: 70px;
    z-index: 99;
    transition: all 0.3s;

    &.transparent {
      box-shadow: none;
      background: transparent;
    }
  }

  nav {
    height: 100%;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      height: 100%;
      width: 100%;

      a {
        position: relative;
        display: inline-block;
        text-decoration: none;
        background: #1f7594;
        font-family: 'Fundamental';
        height: 100%;
        padding: 0 10px;
        transition: all 0.3s;

        &:hover,
        &:focus {
          background: rgba(9, 78, 111, 1);
        }

        &::before {
          content: '';
          position: absolute;
          display: block;
          bottom: 0;
          left: 0;
          height: 0;
          width: 100%;
          z-index: -1;
          transition: all 0.3s;
        }

        &.active::before {
          height: calc(100% + 5px);
        }

        &:not(.active):focus::before,
        &:not(.active):hover::before {
          height: 5px;
        }
      }

      li {
        text-transform: uppercase;
        letter-spacing: 1px;
        color: #fff;
        width: 130px;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
      }

      a.active li {
        color: #fff;
      }
    }
  }
}

@media screen and (max-width: 1239px) {
  header nav {
    .mobile-hamburger-menu {
      position: relative;
      display: block;
      top: 50%;
      transform: translateY(-50%);
      left: 10px;
      height: 22px;
      width: 32px;
      cursor: pointer;
      padding: 10px;

      & > div {
        position: relative;
        width: 100%;
        height: 100%;

        & > span {
          position: absolute;
          background: #fff;
          left: 0;
          height: 4px;
          width: 100%;
          transition: all 0.3s;

          &:nth-child(1) {
            top: 0;
          }
          &:nth-child(2) {
            top: 9px;
          }
          &:nth-child(3) {
            top: 18px;
          }
        }
      }
    }

    &.active .mobile-hamburger-menu div span {
      &:nth-child(1) {
        top: 50%;
        transform: translateY(-50%) rotate(45deg);
      }

      &:nth-child(2) {
        left: -52px;
      }

      &:nth-child(3) {
        top: 50%;
        transform: translateY(-50%) rotate(-45deg);
      }
    }

    ul {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 70px;
      left: 0;
      height: 0;
      overflow: hidden;
      transition: all 0.05s;

      &::before {
        content: '';
        position: fixed;
        display: block;
        background: rgba(34, 33, 69, 0.95);
        height: 0;
        width: 100%;
        z-index: -1;
        transition: all 0.05s;
      }

      li {
        width: auto;
      }

      a {
        display: block;
        height: 50px;

        &::before {
          width: 0;
          height: 100%;
        }

        &.active::before {
          height: 100%;
          width: 100%;
        }

        &:not(.active):focus::before,
        &:not(.active):hover::before {
          width: 10px;
          height: 100%;
        }
      }
    }

    &.active ul {
      height: calc(100vh - 70px);
      overflow: auto;
      transition: all 0.3s;

      &::before {
        height: 100%;
        transition: all 0.3s;
      }
    }
  }

  #nav-home-link {
    order: -1;
  }
}
