.illustrated-text {
  max-width: 1220px;
  margin: auto;
  margin-bottom: 30px;
  padding: 40px 20px 10px 20px;
  color: #fff;
  text-align: left;
  position: relative;
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 20px 30px;

  p {
    grid-column: 1;
    margin: 0;
  }

  .title {
    grid-column: 1 / 3;
  }

  img {
    grid-column: 2;
    grid-row: 2 / 4;
    width: 100%;
    z-index: 1;
  }

  img + .shadow {
    grid-column: 2;
    grid-row: 2 / 4;
    background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48Y2lyY2xlIGZpbGw9IiM0ZjRmNGYiIGN4PSIxMiIgY3k9IjEyIiByPSIyIi8+PC9zdmc+)
      repeat;
    position: absolute;
    top: 20px;
    left: 50px;
    display: block;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  &.right {
    grid-template-columns: 2fr 3fr;

    p {
      grid-column: 2;
    }

    img {
      grid-column: 1;

      & + .shadow {
        left: unset;
        width: 40%;
        transform: translateX(-50px);
        grid-column: 1;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .illustrated-text {
    grid-template-columns: 1fr !important;
    gap: 20px 0;

    img,
    img + .shadow {
      grid-column: 1;
      grid-row: 3 / 4;
      width: 100%;
    }

    &.right p {
      grid-column: 1 !important;
    }
  }
}
