.illustrated-text {
  max-width: 1220px;
  margin: auto;
  margin-bottom: 30px;
  padding: 40px 20px 10px 20px;
  box-sizing: border-box;
  color: #fff;
  text-align: left;
  position: relative;
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 20px 30px;

  & > .side {
    grid-column: 1;
    margin: 0;
  }

  & > .title {
    grid-column: 1 / 3;
  }

  & > img,
  & > iframe {
    grid-column: 2;
    grid-row: 2 / 4;
    width: 100%;
    z-index: 1;

    & + .shadow {
      grid-column: 2;
      grid-row: 2 / 4;
      position: absolute;
      display: flex;
      flex-wrap: wrap;
      top: 20px;
      left: 50px;
      width: 100%;
      height: 100%;
      overflow: hidden;
      
      .model svg {
        margin: 3px;
      }

    }
  }

  iframe {
    height: 100%;
  }

  &.right {
    grid-template-columns: 2fr 3fr;

    & > .side {
      grid-column: 2;
    }

    & > img,
    & > iframe {
      grid-column: 1;

      & + .shadow {
        left: unset;
        width: 40%;
        transform: translateX(-50px);
        grid-column: 1;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .illustrated-text {
    grid-template-columns: 1fr !important;
    gap: 20px 0;

    & > img,
    & > iframe,
    & > img + .shadow,
    & > iframe + .shadow {
      grid-column: 1;
      grid-row: 3 / 4;
      width: 100%;
    }

    & > iframe {
      height: 350px !important;
    }

    &.right > .side {
      grid-column: 1 !important;
    }
  }
}
