a {
    color: var(--secondary-color);
}

p {
    text-align: justify;
}

.supported-association img {
    height: 30%;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.prevention-images {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
 #img-anpaa, #img-revivre {
     height: 100px;
     padding-left: 15px;
     padding-right: 15px;
 }