#program {
  background-color: rgba(198, 233, 250, 0.6);
  margin: auto;
  max-width: 1220px;
  padding: 30px 15px 15px 30px;
}

#artists .artists-container {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
}

#artists .artists-loader {
	font-size: 24px;
	text-align: center;
	margin-top: 30px;
}

#artists .no-artists {
	color: rgba(255, 255, 255, 0.7);
	text-align: center;
}