footer {
  color: #fff;
  width: calc(100% - 40px);
  padding: 34px 20px 20px 20px;
  text-align: center;
  margin-top: 30px;

  .social-links {
    margin-bottom: 15px;

    a {
      display: inline-block;
      margin: 3px;
      color: #fff;
      width: 46px;
      height: 46px;
      font-size: 1.6em;
      border-radius: 50%;
      border: 3px solid transparent;
      transition: all 0.3s;

      &:hover,
      &:focus {
        border-color: #fff;
      }
    }

    i {
      position: relative;
      top: 50%;
      transform: translateY(calc(-50% - 1px));
    }
  }

  .social-contact {
    position: relative;

    i.open {
      display: none;
      padding-bottom: 5.5px;
    }

    &:hover,
    &:focus {
      i {
        display: none;
        &.open {
          display: inline-block;
        }
      }
    }
  }

  .store-links {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-bottom: 5px;

    .store-link {
      display: inline-block;
    }

    .store-image {
      max-height: 50px;
      margin: 5px;
      background: #fff;
    }
  }

  .copyright i {
    font-size: 0.85em;
    margin-right: 3px;
  }

  .links {
    margin-top: 8px;

    a {
      text-decoration: none;
      border-bottom: 1px solid transparent;
      color: #fff;
      transition: all 0.3s;

      &:hover,
      &:focus {
        border-bottom: 1px solid #fff;
      }
    }
  }
}
