footer {
	position: absolute;
	background: var(--primary-color);
	color: #fff;
	width: calc(100% - 40px);
	padding: 40px 20px;
	text-align: center;
	box-shadow: 0 100vh 0 100vh var(--primary-color);
	border-top: 4px solid var(--secondary-color);
}

footer .social-links {
	margin-bottom: 15px;
}

footer .social-links a {
	display: inline-block;
	margin: 3px;
	color: #fff;
	width: 40px;
	height: 40px;
	font-size: 1.3em;
	border-radius: 50%;
	border: 2px solid transparent;
	transition: all .3s;
}

footer .social-links a:hover,
footer .social-links a:focus {
	border: 2px solid #fff;
}

footer .social-links i {
	position: relative;
	top: 50%;
	transform: translateY(calc(-50% - 1px));
}

footer .social-facebook:hover,
footer .social-facebook:focus {
	color: #4267b2;
}

footer .social-twitter:hover,
footer .social-twitter:focus {
	color: #1da1f2;
}

footer .social-youtube:hover,
footer .social-youtube:focus {
	color: #f00;
}

footer .social-contact {
	position: relative;
}

footer .social-contact i.open {
	display: none;
	padding-bottom: 5.5px;
}

footer .social-contact:hover i.open,
footer .social-contact:focus i.open {
	display: inline-block;
}

footer .social-contact:hover i:not(.open),
footer .social-contact:focus i:not(.open) {
	display: none;
}

footer .copyright {
	font-size: 13px;
}

footer .copyright i {
	font-size: 11px;
	margin-right: 3px;
}

footer .links {
	margin-top: 8px;
}

footer .links a {
	font-size: 13px;
	text-decoration: none;
	border-bottom: 1px solid transparent;
	color: #fff;
	transition: all .3s;
}

footer .links a:hover,
footer .links a:focus {
	border-bottom: 1px solid #fff;
}