footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  color: var(--secondary-color);
  width: calc(100% - 40px);
  padding: 34px 20px 20px 20px;
  text-align: center;
  margin-top: 20px;
  gap: 43px;
  border-top: 4px solid var(--text-color);
  font-family: Segoe UI;

  .logo {
    width: 30%;
    max-width: 300px;
  }

  .links {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    height: 100%;
    gap: 7px;
    a {
      color: inherit;
      font-weight: bold;
    }
  }

  .external-and-legal {
    text-align: center;

    .social-links {
      margin-bottom: 15px;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;

      a {
        background-color: var(--text-color);
        display: inline-block;
        margin: 3px;
        color: var(--primary-color);
        width: 46px;
        height: 46px;
        font-size: 1.6em;
        border-radius: 50%;
        border: 3px solid transparent;
        transition: all 0.3s;
        position: relative;
      }

      i {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    .copyright i {
      font-size: 0.85em;
      margin-right: 3px;
    }

    .legal-links {
      margin-top: 8px;

      a {
        color: inherit;
      }
    }
  }

  .social-contact {
    position: relative;

    i.open {
      display: none;
      padding-bottom: 5.5px;
    }

    &:hover,
    &:focus {
      i {
        display: none;
        &.open {
          display: inline-block;
        }
      }
    }
  }
}

@media screen and (max-width: 700px) {
  footer {
    flex-direction: column;
  }
}
