/* --------------- */
/* --- General --- */
/* --------------- */

:root {
	--primary-color: #c90e0e;
	--secondary-color: #fff;
}

html, body {
  font-family: 'Roboto', arial, sans-serif;
	font-size: 16px;
	margin: 0;
	padding: 0;
	background: #383838;
	overflow-x: hidden;
	height: 100%;
}

::selection {
	background: var(--primary-color);
	color: var(--secondary-color);
}

a {
	outline: none;
}

img, iframe {
	max-width: 100%;
}

h1, h2, h3 {
	font-family: 'Montserrat', 'Roboto', arial, sans-serif;
}

hr {
	height: 2px;
	width: 200px;
	max-width: 100%;
	background: var(--primary-color);
	border: none;
	margin: 30px auto;
}

/* ------------ */
/* --- Misc --- */
/* ------------ */

.centered {
	text-align: center;
}

.justified {
	text-align: justify;
}

#page {
	color: #fff;
	max-width: 1000px;
	margin: 0 auto;
	padding: 20px;
}

a.button {
	position: relative;
	display: inline-block;
	margin: 10px 0;
	padding: 14px 20px;
	background: var(--primary-color);
	color: var(--secondary-color);
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
	letter-spacing: 1px;
	overflow: hidden;
	transition: all .3s;
}

a.button::before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: calc(-30% - 20px);
	height: 100%;
	width: 100%;
	background: rgba(50, 50, 50, 0.2);
	clip-path: polygon(0 0, 30% 0, calc(30% + 20px) 100%, 0% 100%);
	z-index: 1;
	transition: all .3s;
}

a.button:hover::before {
	left: 0;
}

h2.title-decoration {
	position: relative;
	margin: 50px 0 35px 0;
	padding-left: 15px;
	text-transform: uppercase;
	font-weight: 100;
	letter-spacing: 1px;
}

h2.title-decoration::before {
	content: '';
	position: absolute;
	display: inline-block;
	top: 0;
	left: 0;
	width: 3px;
	height: 100%;
	background: var(--primary-color);
}