.floating-action-button {
  width: 46px;
  height: 46px;
  background-color: var(--secondary-color);
  border: 2px solid var(--accent-color);
  user-select: none;
  opacity: 1;
  position: fixed;
  display: block;
  right: 40px;
  bottom: 40px;
  border-radius: 40px;
  cursor: pointer;
  z-index: 10;
  transition: opacity 0.25s ease-in-out;

  .arrow {
    width: 48px;
    height: 48px;
    background-color: #fff;
    clip-path: path('M14.82 30.82L24 21.66l9.18 9.16L36 28l-12-12-12 12z');
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &.faded {
    opacity: 0;
    pointer-events: none;
  }
}
